
*{
    font-size: 14px;
}

.profile-header{

    margin-top: 30px;
}

.profile-container{

    max-width: 95.5rem;

    margin: 0 auto;

    padding: 0 2rem;
}

.profile-button{

    display: inline-block;

    font: inherit;

    background: none;

    border: none;

    color: inherit;

    padding: 0;

    cursor: pointer;
}

.profile-button:focus{

    outline: 0.5rem auto #4d90fe;
}

.profile{

    padding: 5rem 0;
}

.profile::after{

    content: "";

    display: block;

    clear: both;
}

.profile-image{

    float: left;

    width: calc(33.333% - 1rem);

    display: flex;

    justify-content: center;

    align-items: center;

    margin-right: 3rem;
}

.profile-image img{

    border-radius: 50%;

    width: 200px;

    height: 200px;
}

.profile-user-settings, .profile-status, .profile-bio{

    float: left;

    width: calc(66.666% - 2rem);
}

.profile-user-settings{

    margin-top: 1.1rem;
}

.profile-user-name{

    display: inline-block;

    font-size: 2rem;

    font-weight: 300;
}

.profile-edit-button{

    font-size: 1.2rem;

    line-height: 1.6;

    border: .1rem solid #dbdbdb;

    border-radius: 0.3rem;

    padding: 0 2.4rem;

    margin-left: 2rem;
}

.profile-settings-btn{

    font-size: 2rem;

    margin-left: 1rem;
}

.profile-status{

    margin-top: 2.3rem;
}

.profile-status li{

    display: inline-block;

    font-size: 1.2rem;

    margin-right: 4rem;

    line-height: 2px;

    cursor: pointer;
}

.profile-bio{
    font-size: 1.2rem;

    font-weight: 400;

    margin-top: 1rem;

    line-height: 1.6;
}

.profile-real-name, .profile-status-count, .profile-button{

    font-weight: 600;
}

social{

    margin-top: 6rem;
}

.social li{

    display: inline-block;

    font-size: 1.2rem;

    margin-right: 4rem;

    line-height: 1.6;

    cursor: pointer;
}


/* profile gallery */

.gallery{

    display: flex;

    flex-wrap: wrap;

    margin: -1rem -1rem;

    padding-bottom: 3rem;
}

.gallery-items{

    position: relative;

    flex: 1 0 22rem;

    margin: 1rem;

    color: #fff;

    cursor: pointer;
}

.gallery-items:hover .gallery-item-info, .gallery-item-info:focus .gallery-item-info{

    display: flex;

    justify-content: center;

    align-items: center;

    position: absolute;

    top: 0;

    width: 100%;

    height: 100%;

    background: rgba(0,0,0,0.3);

    border-radius: 10px;
}

.gallery-item-info{

    display: none;
}

.gallery-item-info li{

    display: inline-block;

    font-size: 1.2rem;

    font-weight: 400;
}

.gallery-items-likes{

    margin-right: 2.2rem;
}

.gallery-img{

    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 10px;
}

.fallow-btns{

    display: inline-block;

    background: rgb(0, 162, 255);

    color: #fff;

    font-size: 16px;

    padding: 10px;

    border: none;

    width: 400px;

    border-radius: 20px;

    margin-top: 40px;
}

.gallery-banner{

    display: inline-block;

    font-size: 1.5rem;

    font-weight: 300;

    text-transform: uppercase;
}




@media  screen and (max-width:800px) {

    .profile{
        display: flex;

        flex-wrap: wrap;

        padding: 4rem 0;
    }

    .profile::after{
        display: none;
    }

    .profile-image, .profile-user-settings, .profile-bio, .profile-status{
        float: none;

        width: auto;

        margin: 5px auto;
    }

    .profile-status{
        display: block;
    }

    .profile-image{
        margin: 0 auto;
    }

    .profile-user-name{

        font-size: 20px;
    }
}
