
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body{

    width: 100%;

    background: white;

    position: relative;
}

*:focus{

    outline: none;
}

.navbar{

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 60px;

    background: #F5F5F5;

    border-bottom: 1px solid whitesmoke;

    display: flex;

    justify-content: center;

    padding: 5px 0;

    z-index: 1;
}

.nav-wrapper{

    width: 70%;

    max-width: 1000px;

    height: 100%;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.brand-img{

    height: 50%;

    margin-top: 5px;
}

.search-box
{
    border-radius: 5px;

    border: 1px solid gray;

    justify-content: center;

    width: 400px;

    text-align: center;

    text-transform: uppercase;

    font-size: small;

    height: 25px;
}

.nav-items{

    height: 22px;

    position: relative;
}

.icon{

    height: 100%;

    cursor: pointer;

    margin: 0 10px;

    display: inline-block;
}

.user-profile{

    width: 22px;

    border-radius: 50%;
}
